
1a.startRCovid19/download/google.zip
1a.startRCovid19/download/google/2021_UY_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_AE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_AG_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_AO_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_AR_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_AT_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_AU_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_AW_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_BA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_BB_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_BD_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_BE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_BF_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_BG_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_BH_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_BJ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_BO_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_BR_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_BS_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_BW_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_BY_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_BZ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_CA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_CH_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_CI_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_CL_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_CM_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_CO_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_CR_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_CV_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_CZ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_DE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_DK_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_DO_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_EC_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_EE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_EG_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_ES_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_FI_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_FJ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_FR_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_GA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_GB_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_GE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_GH_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_GR_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_GT_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_GW_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_HK_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_HN_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_HR_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_HT_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_HU_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_ID_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_IE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_IL_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_IN_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_IQ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_IT_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_JM_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_JO_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_JP_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_KE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_KG_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_KH_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_KR_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_KW_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_KZ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_LA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_LB_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_LI_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_LK_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_LT_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_LU_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_LV_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_LY_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_MA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_MD_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_MK_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_ML_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_MM_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_MN_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_MT_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_MU_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_MX_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_MY_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_MZ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_NA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_NE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_NG_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_NI_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_NL_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_NO_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_NP_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_NZ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_OM_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_PA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_PE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_PG_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_PH_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_PK_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_PL_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_PR_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_PT_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_PY_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_QA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_RE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_RO_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_RS_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_RU_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_RW_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_SA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_SE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_SG_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_SI_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_SK_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_SN_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_SV_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_TG_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_TH_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_TJ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_TR_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_TT_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_TW_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_TZ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_UA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_UG_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_US_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_UY_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_VE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_VN_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_YE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_ZA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_ZM_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_ZW_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_AE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_AF_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_AG_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_AO_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_AR_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_AT_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_AU_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_AW_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_BA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_BB_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_BD_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_BE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_BF_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_BG_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_BH_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_BJ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_BO_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_BR_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_BS_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_BW_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_BY_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_BZ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_CA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_CH_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_CI_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_CL_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_CM_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_CO_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_CR_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_CV_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_CZ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_DE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_DK_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_DO_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_EC_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_EE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_EG_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_ES_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_FI_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_FJ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_FR_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_GA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_GB_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_GE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_GH_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_GR_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_GT_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_GW_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_HK_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_HN_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_HR_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_HT_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_HU_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_ID_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_IE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_IL_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_IN_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_IQ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_IT_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_JM_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_JO_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_JP_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_KE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_KG_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_KH_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_KR_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_KW_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_KZ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_LA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_LB_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_LI_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_LK_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_LT_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_LU_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_LV_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_LY_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_MA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_MD_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_MK_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_ML_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_MM_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_MN_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_MT_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_MU_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_MX_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_MY_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_MZ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_NA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_NE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_NG_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_NI_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_NL_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_NO_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_NP_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_NZ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_OM_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_PA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_PE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_PG_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_PH_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_PK_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_PL_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_PR_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_PT_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_PY_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_QA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_RE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_RO_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_RS_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_RU_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_RW_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_SA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_SE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_SG_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_SI_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_SK_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_SN_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_SV_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_TG_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_TH_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_TJ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_TR_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_TT_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_TW_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_TZ_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_UA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_UG_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_US_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_VE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_VN_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_YE_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_ZA_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_ZM_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2021_ZW_Region_Mobility_Report.csv
1a.startRCovid19/download/google/2020_AF_Region_Mobility_Report.csv
.DS_Store
1a.startRCovid19/.RData
1a.startRCovid19/.Rhistory
1a.startRCovid19/.Rhistory
4.simple_statistics/.RData
4.simple_statistics/.Rhistory
0.Rstudio/~$get_familiar_with_RStudio.ppt
1a.startRCovid19/.RData
